.ant-upload-list.ant-upload-list-text{
  display:none;
}
.react-tel-input{
  height: 38px;
  .form-control{
    height: 36px;
    width: 100%;
  }
  .flag-dropdown{
    margin-top: 3px
  }
}